.Rproj.user
.Rhistory
.RData
/Paper/cache
/Paper/figures
/Paper/tikzDictionary.dat
/Paper/.texpadtmp
/Paper/PSplineInference.run.xml
/Paper/PSplineInference.synctex(busy)
/Paper/PSplineInference.tex
/Paper/PSplineInference.blg
/Paper/PSplineInference.lof
/Paper/PSplineInference.log
/Paper/PSplineInference.out
/Paper/PSplineInference.pdf
/Paper/PSplineInference-blx.bib
/Paper/PSplineInference.aux
/Paper/PSplineInference.bbl
/Paper/PSplineInference.synctex.gz
