.Rproj.user
.Rhistory
.RData
/Paper/cache
/Paper/figures
/Paper/tikzDictionary.dat
/Paper/OutbreakInference.tex
/Paper/OutbreakInference-blx.bib
/Paper/OutbreakInference.aux
/Paper/OutbreakInference.bbl
/Paper/OutbreakInference.blg
/Paper/OutbreakInference.lof
/Paper/OutbreakInference.log
/Paper/OutbreakInference.out
/Paper/OutbreakInference.pdf
/Paper/OutbreakInference.run.xml
/Paper/OutbreakInference.synctex.gz
/Paper/OutbreakInference.synctex(busy)
/Paper/.texpadtmp
